<mk-box header="Resumen de Dosimetrìa" [isCollapsable]="false" [isRemovable]="false">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="codigo_insumo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Insumo</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo_insumo}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Insumo</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="unidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad de medida</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.unidad}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="saldo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saldo}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
  </div>
  <ng-container>

  </ng-container>
</mk-box>
<button mat-raised-button (click)="abrirDialogo()">Agregar Movimiento</button>
