.mat-cell{
    justify-content: center;
}
.mat-header-cell,.mat-footer-cell{
    justify-content: center;
    font-weight: bold;
}

.mat-cell,.mat-header-cell {
    text-align: center !important;
    justify-content: center !important;
}
td.mat-cell,th.mat-header-cell{
    border-bottom-style: unset !important;
}