<mk-box header="Resumen Chorizos" [isCollapsable]="false" [isRemovable]="false" >
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.producto}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="granel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Granel</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.granel}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalgranel}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="merma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Merma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.merma}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalmerma}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalcantidad}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peso}} KGM</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalpeso}} KGM</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado">Chorizos</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
  </div>
</mk-box>


<mk-box header="Resumen Salchichas" [isCollapsable]="false" [isRemovable]="false" *ngIf="dataSourceB">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilterB($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourceB" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.producto}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="granel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Granel</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.granel}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalgranelB}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="merma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Merma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.merma}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalmermaB}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalcantidadB}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peso}} KGM</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalpesoB}} KGM</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado">Chorizos</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
  </div>
</mk-box>


<mk-box header="Resumen Especiales" [isCollapsable]="false" [isRemovable]="false"  *ngIf="dataSourceC">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilterB($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourceC" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.producto}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="granel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Granel</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.granel}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalgranelC | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="merma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Merma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.merma}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalmermaC | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalcantidadC | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peso}} KGM</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalpesoC | number}} KGM</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
  </div>
</mk-box>


<mk-box header="Resumen Jamones" [isCollapsable]="false" [isRemovable]="false" *ngIf="dataSourceD">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilterB($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourceD" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.producto}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="granel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Granel</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.granel}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalgranelD | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="merma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Merma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.merma}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalmermaD | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalcantidadD | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peso}} KGM</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalpesoD | number}} KGM</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
  </div>
</mk-box>


<mk-box header="Resumen Quesos" [isCollapsable]="false" [isRemovable]="false" *ngIf="dataSourceD">
  <div class="example-header mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilterB($event.target.value)" placeholder="Escriba algo para filtrar">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourceE" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.producto}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="granel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Granel</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.granel}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalgranelD | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="merma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Merma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.merma}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalmermaE | number}}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalcantidadE | number }}</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.peso}} KGM</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{totalpesoE | number}} KGM</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>
  </div>
</mk-box>