<button class="close" mat-button mat-dialog-title (click)="cancelar()">x</button>
<div style="height: 490px;overflow-y:auto;overflow-x:hidden;padding-left: 10px;">
  
<form #formGeneral="ngForm">
  <div mat-dialog-content>
        <h3>Ver Nota de Debito/Credito</h3>
    <div style="display: flex;flex-direction:column; margin:0.5rem auto; width: 800px; padding: 1rem;">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Tipo de Nota</mat-label>
            <mat-select name="tipoDoc" #tipoDoc="ngModel" [(ngModel)]="data.tipoDoc" required>
              <mat-option [value]="">Seleccionar</mat-option>
              <mat-option *ngFor="let cat of dataComprobantes" [value]="cat.id">{{cat.tipo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Tipo Documento Afectado</mat-label>
            <input matInput name="tipDocAfectado" #tipDocAfectado="ngModel" [(ngModel)]="data.tipDocAfectado" type="text"  readonly>
             </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Documento Afectado</mat-label>
            <input matInput name="numDocfectado" #numDocfectado="ngModel" [(ngModel)]="data.numDocfectado" type="text" placeholder="Ingrese nro Documento"
              readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Motivo</mat-label>
            <mat-select name="codMotivo" #codMotivo="ngModel" [(ngModel)]="data.codMotivo" required>
              <mat-option [value]="">Seleccionar</mat-option>
              <mat-option *ngFor="let mot of dataMotivos" [value]="mot.id">{{mot.tipo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Descripción Motivo</mat-label>
            <input matInput name="desMotivo" #desMotivo="ngModel" [(ngModel)]="data.desMotivo" type="text" placeholder="Ingrese motivo" required>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
            
        </div>
      </div>
      <div class="row">
        <!--<div class="col-lg-4">
          <mat-radio-group aria-label="Seleccione tipo" required >
            <mat-radio-button value="1" (change)="radioChange($event)">Cliente con DNI</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="2" (change)="radioChange($event)">Cliente con RUC</mat-radio-button>
          </mat-radio-group>
        </div>-->
        <div class="col-lg-4">
          <mat-form-field *ngIf="data.tipDocAfectado=='Boleta'">
            <mat-label>Cliente con DNI</mat-label>
            <mat-select name="id_cliente" #id_cliente="ngModel" [(ngModel)]="data.id_cliente" readonly>
              <input class="buscador" (keyup)="onKeyCliente($event.target.value)" placeholder="Buscar cliente..">
              <mat-option [value]="">Seleccionar</mat-option>
              <mat-option *ngFor="let cli of dataClientes" [value]="cli.id">
                {{cli.nombre}} {{cli.apellido}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="data.tipDocAfectado=='Factura'">
            <mat-label>Cliente CON RUC</mat-label>
            <mat-select name="id_cliente" #id_cliente="ngModel" [(ngModel)]="data.id_cliente" required>
              <input class="buscador" (keyup)="onKeyRuc($event.target.value)" placeholder="Buscar con RUC..">
              <mat-option [value]="">Seleccionar</mat-option>
              <mat-option *ngFor="let cli of dataEmpresas" [value]="cli.id">
                {{cli.razon_social}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Fecha de Venta</mat-label>
            <input matInput name="fecha" #fecha="ngModel" [(ngModel)]="data.fecha" type="text" readonly>
          </mat-form-field>
        </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field>
                <mat-label>Valor neto S/.</mat-label>
                <input matInput name="valor_neto" [value]="valor_neto | number" [(ngModel)]="data.valor_neto" type="number" step=".01" readonly>
              </mat-form-field>
               </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-label>Monto IGV S/.</mat-label>
                  <input matInput name="monto_igv" [value]="monto_igv | number" [(ngModel)]="data.monto_igv" type="number" step=".01" readonly>
              </mat-form-field>
              </div>
           
            <div class="col-lg-4">
              <mat-form-field>
                <mat-label>Monto Total S/.</mat-label>
                  <input matInput name="valor_total" [value]="valor_total" [(ngModel)]="data.valor_total" type="number" step=".01" readonly>
              </mat-form-field>
                  </div>
            </div>
      <!--<div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
        <input type="checkbox" (change)="clienteNuevo($event)"class="custom-control-input" id="customSwitch3">
        <label class="custom-control-label" for="customSwitch3">&nbsp;Cliente Nuevo</label>
      </div>-->
   
    </div>
  </div>
</form>
<div class="example-container mat-elevation-z8" style="overflow-y:scroll;height:auto;margin-top:10px;">
  <mat-table [dataSource]="dataDetalle" matSort>
    <ng-container matColumnDef="id_producto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.unidad_medida}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="peso">
      <mat-header-cell *matHeaderCellDef mat-sort-header>cantidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cantidad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row">S/. {{row.precio | number }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subtotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</mat-header-cell>
      <mat-cell *matCellDef="let row">S/.{{ row.precio*row.cantidad | number }}
      </mat-cell>
    </ng-container>
     <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[6,10,20,50,100]" [pageSize]="3" [showFirstLastButtons]></mat-paginator>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancelar()" cdkFocusInitial>Cerrar</button>
  <button mat-raised-button [mat-dialog-close]="data" [disabled]="!formGeneral.form.valid">Ver Nota</button>
</div>
</div>