<form #formItem="ngForm"><div>
  <h1 mat-dialog-title>Agregar Producto</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; width: 600px; padding: 1rem;">
        <mat-form-field>
          <mat-label>Producto</mat-label>
          <mat-select  name="id_producto" #id_producto="ngModel" [(ngModel)]="data.id_producto" required>
            <input (keyup)="onKey($event.target.value)" placeholder="Buscar..">
            <mat-option  *ngFor="let pro of dataProducto" [value]="pro.id">{{pro.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
              <input matInput  name="cantidad" #cantidad="ngModel" [(ngModel)]="data.cantidad" type="number" placeholder="Ingrese cantidad" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="precio" #precio="ngModel" [(ngModel)]="data.precio" type="number" placeholder=" S/.Precio" required>
            </mat-form-field>
           </div>
  </div>
  <div mat-dialog-actions>
    <button  mat-button [mat-dialog-close]="true">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!formItem.form.valid" cdkFocusInitial>Confirmar</button>
  </div>
  </div>`
