<div style="height:auto;">
  <form  #formGeneral="ngForm">
  <div mat-dialog-content>
    <h3>Editar Inventario</h3>
      <div style="display: flex;flex-direction: column; margin:1rem auto; width: 750px; padding: 1rem;">
        <mat-form-field>
          <mat-label>Producto</mat-label>
          <mat-select  name="id_producto" #id_producto="ngModel" [(ngModel)]="data.id_producto" required>
            <input (keyup)="onKey($event.target.value)" placeholder="Buscar..">
            <mat-option  *ngFor="let pro of dataProducto" [value]="pro.id">{{pro.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row">
          <div class="col-lg-4">
            <mat-form-field>
              <mat-select  name="presentacion" #presentacion="ngModel" [(ngModel)]="data.presentacion" required>
                <mat-option  value="">Seleccionar</mat-option>
                <mat-option  value="Bolsa">Bolsa</mat-option>
                <mat-option  value="Sellado">Sellado</mat-option>
              </mat-select>
            </mat-form-field>
             </div>
          <div class="col-lg-4">
            <mat-form-field>
            <mat-select  name="unidad" #unidad="ngModel" [(ngModel)]="data.unidad" required>
              <mat-option value="">Seleccionar</mat-option>
              <mat-option value="Kilo">Kilo</mat-option>
              <mat-option value="Docena">Docena</mat-option>
              <mat-option value="Unidad">Unidad</mat-option>
            </mat-select>
          </mat-form-field>
             </div>
          <div class="col-lg-4">
            <mat-form-field>
                <input matInput name="cantidad" #cantidad="ngModel" [(ngModel)]="data.cantidad" type="number" placeholder="Ingrese cantidad" required>
            </mat-form-field>
                </div>
          </div>
         <mat-form-field>
            <mat-label>Observación</mat-label>
            <input matInput name="observacion" #observacion="ngModel" [(ngModel)]="data.observacion" type="text" placeholder="Observación">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha producción</mat-label>
          <input  matInput [matDatepicker]="myPicker" name="fecha_produccion" #fecha_produccion="ngModel" [(ngModel)]="data.fecha_produccion" placeholder="Fecha de producción" required>
          <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
          <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>
        </div>
  </div>
</form>
  <div mat-dialog-actions>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
      <button mat-raised-button [mat-dialog-close]="data" [disabled]="!formGeneral.form.valid" cdkFocusInitial>Registrar</button>
  </div>
  </div>