<div>
  <h1 mat-dialog-title>Registrar Compra</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; width: 600px; padding: 1rem;">
        <mat-form-field>
          <mat-label>Comprobante</mat-label>
          <mat-select [(ngModel)]="data.comprobante">
            <mat-option  *ngFor="let cat of dataComprobantes" [value]="cat.id">
              {{cat.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="data.num_comprobante" type="text" placeholder="Ingrese Numero" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.descripcion" type="text" placeholder="Descripción" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput  [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="data.fecha">
          <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time> 
        </mat-form-field>
          <mat-form-field>
            <mat-label>Proveedor</mat-label>
            <mat-select [(ngModel)]="data.id_proveedor">
              <input (keyup)="onKey($event.target.value)" placeholder="Buscar..">
              <mat-option  *ngFor="let cat of dataProveedor" [value]="cat.id">
                {{cat.razon_social}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      </div>
  </div>
  <h4>Detalle de compra</h4>
  <button class="btn btn-success" (click)="abrirDialog(dialogTemplate2)">Agregar Producto</button>
  <ng-template #dialogTemplate2>
    <h5>Agregar</h5>
    
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
   </ng-template>

     <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!--  Columna ID-->
        <ng-container matColumnDef="item">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.comprobante}} </mat-cell>
        </ng-container>
       <!-- Columna Apellido -->
        <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.descripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.cantidad}} </mat-cell>
    </ng-container>
    
          <!-- Columna Nacionalidad -->
        <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let row">S/. {{row.total}} </mat-cell>
        </ng-container>
    
          
    <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let row ">
                <button class="btn btn-primary" (click)="abrirDialog(dialogTemplate,row)">Eliminar</button>
            <ng-template #dialogTemplate>
             <h5>Eliminar el producto: {{row.nombre}} ?</h5>
             <button mat-button (click)="cancelar()">Cancelar</button>
             <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
            </ng-template>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]></mat-paginator>-->
    </div>
  <div mat-dialog-actions>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
      <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Registrar</button>
  </div>
  </div>