.mat-cell,.mat-header-cell {
    text-align: center !important;
    justify-content: center !important;
}
td.mat-cell,th.mat-header-cell{
    border-bottom-style: unset !important;
}

@media (max-width: 767px) {
    .mat-cell,.mat-header-cell{
        font-size: 10px;
    }
}

