<div>
  <h1 mat-dialog-title>Producto</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; width: 900px; padding: 1rem;">
          <mat-form-field>
              <input matInput [(ngModel)]="data.codigo" type="text" placeholder="Ingrese código">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="data.nombre" type="text" placeholder="Ingrese nombre">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="data.precio" type="number" placeholder="Ingrese precio">
          </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>