.mat-cell{
    justify-content: center;
}
.mat-header-cell{
    justify-content: center;
    font-weight: bold;
}

.mat-cell,.mat-header-cell {
    text-align: center !important;
    justify-content: center !important;
}
td.mat-cell,th.mat-header-cell{
    border-bottom-style: unset !important;
}

.cargando{
    position:fixed;
    top: 15%;
    z-index: 1000;
    left: 44%;
}