<mk-box [isCollapsable]="false" [isRemovable]="false">
<div class="input-group date" style="width:400px;float:right">
  <div class="input-group-addon">Período&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control" [owlDateTimeTrigger]="dt" [max]="startDate" [owlDateTime]="dt" [(ngModel)]="selectedMoment">
                  <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time> 
                  <div class="input-group-addon"> 
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [max]="startDate" [(ngModel)]="selectedMoment2">
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

  </div>
  <div class="input-group date" style="width:100%">

</div>
    <div class="box-footer" style="float:right">
        <button type="button"  (click)="enviaFechas()"  class="btn  btn-info btn-lg">Consultar</button>
     
      </div>
  </mk-box>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="small-box btn_ingreso">
            <div class="inner">
              <h3> S/. {{ingreso_total}}
                  <sup style="font-size: 20px"></sup>    
                </h3>
              <p>Ingresos</p>
            </div>
            <div class="icon">
              <i class="fa fa-money"></i>
            </div>
            <a href="#" class="small-box-footer">&nbsp;</a>
          </div>

  </div>
 <!-- <div class="col-md-6 col-xs-12">
      <div class="small-box btn_cpm">
          <div class="inner">
              <h3> {{ingreso_cpm}}
                <sup style="font-size: 20px">$</sup>
              </h3>
            <p>ventas</p>
          </div>
          <div class="icon">
            <i class="fa ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">&nbsp;</a>
        </div>
   
  </div>
  <div class="col-md-3 col-xs-12">
      <div class="small-box btn_imp">
          <div class="inner">
              <h3> {{impresiones}}
                <sup style="font-size: 20px"></sup>
              </h3>
            <p>Impresiones</p>
          </div>
          <div class="icon">
            <i class="fa fa-eye"></i>
          </div>
          <a href="#" class="small-box-footer">&nbsp;</a>
        </div>
  </div>-->
  <div class="col-md-6 col-xs-12">

      <div class="small-box btn_per">
          <div class="inner">
              <h3>  {{inicio}} al {{final}}  
                <sup style="font-size: 20px"></sup>
              </h3>
            <p>Período</p>
          </div>
          <div class="icon">
            <i class="fa fa-calendar-check-o"></i>
          </div>
          <a href="#" class="small-box-footer">&nbsp;</a>
        </div>

   <!-- <mk-box-info header="Periodo" iconBackgroundColor="red" iconStyleClass="fa fa-calendar-check-o">
     {{fecha1}} / {{fecha2}}
    </mk-box-info>-->
  </div>
</div>
<mk-box header="Ingresos diarios" [isCollapsable]="true" [isRemovable]="false">
  <div class="col-md-12 col-xs-12">
    <div class="chart-container">   
      <div id="barChartContent2"><canvas id="canvas2"></canvas></div>
    </div> 
  </div>
</mk-box>
<!--
<mk-box header="Por dispositivo y Creatividad"  [isCollapsable]="true" [isRemovable]="true">
<div class="row">
<div class="col-md-6 col-xs-12">
  <div class="chart-container">   
     
        <div id="pieChartContent"><canvas id="canvas"></canvas></div>
    
       <div *ngIf="cargando" style="margin-left: 120px;"><img src="assets/img/load.gif"></div>
  </div> 
</div>
<div class="col-md-6 col-xs-12">
  <div class="chart-container">    
      <div id="barChartContent4"><canvas id="canvas4"></canvas></div>
    <div *ngIf="cargando" style="margin-left: 120px"><img src="assets/img/load.gif"></div>
  </div> 
</div>

</div>
</mk-box>
-->


<div class="export-container">
	<button mat-raised-button color="secundary" (click)="exportTable('ExampleTable2','Facturas emitidas')">Exportar a PDF</button>
</div>

<mk-box header="Facturas Emitidas" [isCollapsable]="true" [isRemovable]="false">
<table id="ExampleTable2" mat-table [dataSource]="dataSourceFac" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha emisión</th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    <td mat-footer-cell  *matFooterCellDef>Totales</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nro_comprobante">
    <th mat-header-cell *matHeaderCellDef> Nro Comprobante </th>
    <td mat-cell *matCellDef="let element"> {{element.nro_comprobante}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="num_documento">
    <th mat-header-cell *matHeaderCellDef> Nro documento </th>
    <td mat-cell *matCellDef="let element"> {{element.num_documento}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="valor_neto">
    <th mat-header-cell *matHeaderCellDef> Monto Neto </th>
    <td mat-cell *matCellDef="let element">S/. {{element.valor_neto}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{neto_factura}}</td>
  </ng-container>
  <ng-container matColumnDef="monto_igv">
    <th mat-header-cell *matHeaderCellDef> IGV </th>
    <td mat-cell *matCellDef="let element">S/. {{element.monto_igv}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{igv_factura}}</td>
  </ng-container>
  <ng-container matColumnDef="valor_total">
    <th mat-header-cell *matHeaderCellDef> Monto total </th>
    <td mat-cell *matCellDef="let element">S/. {{element.valor_total}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{total_factura}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
</mk-box>



<div class="export-container">
	<button mat-raised-button color="secundary" (click)="exportTable('ExampleTable','Boletas emitidas')">Exportar a PDF</button>
</div>

<mk-box header="Boletas Emitidas" [isCollapsable]="true" [isRemovable]="false">
<table id="ExampleTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha emisión</th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    <td mat-footer-cell  *matFooterCellDef>Totales</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nro_comprobante">
    <th mat-header-cell *matHeaderCellDef> Nro Comprobante </th>
    <td mat-cell *matCellDef="let element"> {{element.nro_comprobante}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="num_documento">
    <th mat-header-cell *matHeaderCellDef> Nro documento </th>
    <td mat-cell *matCellDef="let element"> {{element.num_documento}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
    <td mat-footer-cell  *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="valor_neto">
    <th mat-header-cell *matHeaderCellDef> Monto Neto </th>
    <td mat-cell *matCellDef="let element">S/. {{element.valor_neto}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{neto_boleta}}</td>
  </ng-container>
  <ng-container matColumnDef="monto_igv">
    <th mat-header-cell *matHeaderCellDef> IGV </th>
    <td mat-cell *matCellDef="let element">S/. {{element.monto_igv}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{igv_boleta}}</td>
  </ng-container>
  <ng-container matColumnDef="valor_total">
    <th mat-header-cell *matHeaderCellDef> Monto total </th>
    <td mat-cell *matCellDef="let element">S/. {{element.valor_total}} </td>
    <td mat-footer-cell  *matFooterCellDef>S/. {{total_boleta}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
</mk-box>